<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
  <a-scene leap="host: 192.168.1.106" {{ scene_properties }}>
    <a-assets>
      {% block assets %}{% endblock %}
    </a-assets>
    {% block content %}{% endblock %}
  </a-scene>
</body>
</html>
